<link rel="stylesheet" href="/themekit/media/icons/iconsmind/line-icons.min.css">
<script src="/themekit/scripts/parallax.min.js"></script>
<script src="/themekit/scripts/glide.min.js"></script>
<script src="/themekit/scripts/magnific-popup.min.js"></script>
<script src="/themekit/scripts/tab-accordion.js"></script>
<script src="/themekit/scripts/imagesloaded.min.js"></script>
<script src="/themekit/scripts/progress.js" async></script>
<script src="/themekit/scripts/custom.js" async></script>
<script src="/themekit/scripts/contact-form/contact-form.js" async></script>