<footer class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Stefano Gabryel © {{ now.Year }}</h3>
                <p>P.Iva/VAT Number: {{ .Site.Params.piva }}</p>
                <p>Iban: {{ .Site.Params.iban }}</p>
            </div>
            <div class="col-lg-4">
                <h3>Contacts</h3>
                <ul class="icon-list icon-line">
                    <li>{{ .Site.Params.email }}</li>
                    <li><a class="whatsapp-green" target="_blank" href="{{ .Site.Params.whatsappLink }}">Click here to chat directly on Whatsapp</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="icon-links icon-social icon-links-grid social-colors">
                    <a class="instagram" href="{{ .Site.Params.instagramLink }}" target="_blank"><i class="icon-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <span>&nbsp;</span>
            <span>
                {{ with .Site.GetPage "page" "contacts.md" }}
                    <a href="{{ .RelPermalink }}">Contacts</a>
                {{ end }}

                {{ with .Site.GetPage "page" "cookie.md" }}
                    <a href="{{ .RelPermalink }}">Cookie Policy</a>
                {{ end }}

                {{ with .Site.GetPage "page" "privacy.md" }}
                   <a href="{{ .RelPermalink }}">Privacy Policy</a>
                {{ end }}

                {{ with .Site.GetPage "page" "terms.md" }}
                    <a href="{{ .RelPermalink }}">Terms & Conditions</a>
                {{ end }}
            </span>
        </div>
    </div>
    {{ partial "footjs.html" . }}
</footer>
